.Footer {
    padding-top: 35px;
    border-top: 2px solid #f3f3f3;
    font-size: 13px;
    color: #787878;
}
.footerMenu {
    margin-right: 20px;
    a {
        color: #787878;
        text-decoration: none;
    }
}
.copyright {
    margin-top: 30px;
}
