{
  "tabWidth": 4,
  "overrides": [
    {
      "files": "*.html",
      "options": {
      }
    },
    {
      "files": "*.scss",
      "options": {
      }
    },
    {
      "files": "*.js",
      "options": {
      }
    },
    {
      "files": "*.md",
      "options": {
        "proseWrap": "never",
        "tabWidth": 2
      }
    }
  ]
}
