.adminBody {
    margin: 0px;
}
.topNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 10px;
    background-color: #533d40;
    color: #ffffff;
    > a {
        color: white;
        > svg {
            margin: 0px 5px;
        }
    }
    > button {
        background-color: transparent;
        color: #ffffff;
        font-size: 14px;
    }
    .logout {
        display: none;
        position: absolute;
        right: 5px;
        background-color: #f9f9f9;
        border-radius: 7px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        padding: 12px 16px;
        z-index: 1;
        &:hover{
            display: block;
        }
    }
    .user:hover~ .logout{
        display: block;
    }
}
.contents {
    display: grid;
    grid-template-columns: 145px 1fr;
    grid-template-areas: "sideNav dashboard";
    .sideNav {
        padding: 10px 7px;
        grid-area: sideNav;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        > div > div {
            margin-bottom: 10px;
            padding: 12px 8px;
            text-align: left;
            list-style: none;
            border-radius: 12px;
            box-shadow: 0px 0px 7px 2px #e0e0e0;
            &:hover {
                cursor: pointer;
                box-shadow: 0px 0px 7px 3px #c2c2c2;
            }
        }
    }
    .dashboard {
        height: calc(100vh - 64px);
        padding: 10px 7px;
        grid-area: dashboard;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 12px;
        row-gap: 12px;
        .graph, // 그래프 통계, 최근 문의, 도움말 통계, 도움말 수정
        .listComponent,
        .dataStat,
        .article,
        .statistic {
            padding-left: 10px;
            padding-right: 10px;
            border-radius: 12px;
            box-shadow: 0px 0px 7px 3px #f2f2f2;
            &:hover {
                box-shadow: 0px 0px 7px 3px #dddddd;
            }
        }
        .graph {
            .graphTable {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                > div {
                    width: 90%;
                }
            }
        }
        .statistic {
            > ul > li {
                margin-bottom: 16px;
            }
        }
        > .listComponent {
            > div {
                > select {
                    margin-bottom: 15px;
                    padding: 5px;
                    border: 1px solid #909090;
                    border-radius: 8px;
                    background-color: #ffffff;
                }
                > .list {
                    display: grid;
                    grid-template-columns: 50px 1fr;
                    padding: 10px;
                    border-top: 1px solid #dddddd;
                    cursor: pointer;
                    > .title {
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                    .wait, .complete{
                        font-size: 13px;
                        border-radius: 5px;
                        border: 1px solid black;
                        padding: 0px 5px;
                    }
                    .wait{
                        background-color: #ee0000;
                        color: white;
                    }
                    .complete{
                        background-color: yellow;
                    }
                }
            }
        }
    }
}
.titleNlink {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.editting {
    display: flex;
    flex-direction: column;
}
.rightArrow {
    margin: 0px 5px;
    color: #9d9d9d;
}
.sideNavIcon {
    margin-right: 10px;
}
