.article {
    padding: 10px;
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 7px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #bbbbbb;
        border-radius: 10px;
        background-color: none;
    }
    > .settingCategory {
        position: fixed;
        left: 0;
        top: 40px;
        z-index: 5;
        background-color: rgba(100, 100, 100, 0.5);
        width: 100vw;
        height: 100vh;
        > .settingModal {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #ffffff;
            width: 1000px;
            height: 700px;
            opacity: 1;
            padding: 15px;
            > .modalBtn {
                margin-bottom: 20px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                > div {
                    font-size: 18px;
                }
                > button {
                    font-size: 18px;
                    border: none;
                    background-color: #ffffff;
                }
            }
            > .treeBox {
                display: grid;
                grid-template-columns: 400px 1fr;
                > .tree {
                    > .treeButton {
                        margin-bottom: 7px;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        > div > button {
                            border: 1px solid black;
                            border-radius: 6px;
                            background-color: #ffffff;
                            &:hover {
                                background-color: #dddddd;
                            }
                        }
                        > .expanded > button {
                            margin-right: 6px;
                        }
                        > .addTopNodeBtn > button {
                            margin-right: 6px;
                        }
                        > .searchInput > input {
                            width: 100px;
                            margin-left: 3px;
                            padding: 2.5px 6px;
                            border: 1px solid #000000;
                            border-radius: 7px;
                            vertical-align: top;
                        }
                    }
                }
                .treeNodes {
                    display: grid;
                    grid-template-columns: auto auto;
                    margin-bottom: 5px;
                    padding: 2px;
                    border-radius: 7px;
                    box-shadow: 0px 0px 5px 2px #e1e1e1;
                    cursor: pointer;
                    > .nodeTitle {
                        margin-right: 5px;
                    }
                    > .nodeButtons > button {
                        margin-left: 5px;
                        background-color: #ffffff;
                        border-radius: 7px;
                        border: 1px solid #000000;
                        &:hover {
                            background-color: #dddddd;
                        }
                    }
                }
            }
        }
    }
}
.selectBox {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    > div {
        display: flex;
        flex-direction: row;
        > svg {
            margin: 6px 13px;
            color: grey;
        }
        > div > div {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            > select {
                width: 130px;
                padding: 5px;
                border: 1px solid #909090;
                border-radius: 8px;
                background-color: #ffffff;
                &:focus {
                    outline: none;
                }
                &:hover {
                    background-color: #dddddd;
                    > option {
                        background-color: #ffffff;
                    }
                }
            }
        }
    }
    > div > button {
        margin-left: 5px;
        background-color: #ffffff;
        border: 1px solid #909090;
        border-radius: 7px;
        > svg {
            font-size: 15px;
        }
        &:hover {
            background-color: #dddddd;
        }
    }
}
.listHeader {
    margin-bottom: 7px;
    font-size: small;
    display: flex;
    flex-direction: row;
    .listCategory {
        min-width: 115px;
    }
}
.articleBox {
    display: grid;
    grid-template-columns: 115px auto;
    padding: 10px 0px;
    border-top: 1px solid #dddddd;
    user-select: none;
    // 도움말
    > .badge {
        display: flex;
        flex-direction: row;
        padding-right: 15px;
        > span {
            display: inline-block;
            padding: 0px 6px;
            font-size: small;
            border: 1px solid #cccccc;
            border-radius: 6px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }
    > .content {
        width: auto;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
}
.if-article-chosen {
    text-decoration: underline;
    font-weight: bold;
}
.warning {
    z-index: 1;
    padding: 16px 20px;
    position: absolute;
    border: 1px solid #909090;
    border-radius: 8px;
    background-color: #ffffff;
    > .question {
        margin-bottom: 15px;
    }
    > div {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        > button {
            min-width: 50px;
            background-color: #ffffff;
            border: 1px solid #909090;
            border-radius: 7px;
            &:hover {
                background-color: #dddddd;
            }
        }
    }
}
.page {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    .pageBtn {
        margin: 0px 3px;
        background-color: transparent;
        border: none;
    }
    .if-page-selected {
        font-size: 15px;
        font-weight: bold;
        text-decoration: underline;
    }
}
