.article {
    padding: 10px;
}
.selectBox {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    > div {
        display: flex;
        flex-direction: row;
        > svg {
            margin: 1px 13px;
            color: grey;
        }
        > div > div {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            > select {
                width: 130px;
                padding: 5px;
                border: 1px solid black;
                background-color: #ffffff;
                &:focus {
                    outline: none;
                }
            }
        }
    }
    > button {
        background-color: #ffffff;
        border: 1px solid black;
        > svg {
            margin-right: 5px;
        }
    }
}
.articleBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0px;
    border-top: 1px solid #dddddd;
    // 도움말
    .if-editor-true {
        width: calc(100% - 85px);
    }
    .edit {
        margin-right: 10px;
        background-color: #ffffff;
        border: none;
    }
    .trash {
        background-color: #ffffff;
        border: none;
        > svg {
            color: red;
        }
    }
}
