.qna {
    height: calc(100vh - 65px);
    padding: 10px 7px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "list preview"
        "list editor";
    column-gap: 12px;
    row-gap: 12px;
    > .listComponent,
    > .previewComponent,
    > .editorComponent {
        padding: 20px;
        border-radius: 12px;
        box-shadow: 0px 0px 7px 3px #f2f2f2;
        overflow-y: auto;
        &::-webkit-scrollbar {
            width: 7px;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background-color: #bbbbbb;
        }
    }
    > .listComponent {
        grid-area: list;
        > div {
            > select {
                margin-bottom: 15px;
                width: 130px;
                padding: 5px;
                border: 1px solid #909090;
                border-radius: 8px;
                background-color: #ffffff;
            }
            > .list {
                display: grid;
                grid-template-columns: 50px 1fr;
                padding: 10px;
                border-top: 1px solid #dddddd;
                cursor: pointer;
                > .title {
                    &:hover {
                        text-decoration: underline;
                    }
                }
                .wait, .complete{
                    font-size: 13px;
                    border-radius: 5px;
                    border: 1px solid black;
                    padding: 0px 5px;
                }
                .wait{
                    background-color: red;
                    color: white;
                }
                .complete{
                    background-color: yellow;
                }
            }
        }
    }
    > .previewComponent {
        grid-area: preview;
    }
    > .editorComponent {
        grid-area: editor;
        > .titleBox {
            display: flex;
            flex-direction: row;
            > div {
                margin: 7px 0px;
            }
            > input {
                flex-grow: 1;
                margin-left: 10px;
                width: auto;
                margin-bottom: 10px;
                padding: 10px 16px;
                border: 1px solid #dddddd;
                border-radius: 8px;
                &:focus {
                    outline: none;
                }
            }
        }
        .ck-editor__editable_inline {
            min-height: 200px !important;
        }
    }
    .activate {
        font-weight: bold;
    }
}
