.qna {
    height: calc(100vh - 65px);
    padding: 10px 7px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "list preview"
        "list editor";
    column-gap: 12px;
    row-gap: 12px;
    > .requestSelect{
        grid-row-start: preview;
        grid-row-end: editor;
        display: flex;
        justify-content: center;
        align-items: center;
        > .request {
            border: 3px double lightgrey;
            border-radius: 20px;
            padding: 18px 20px;
            font-size: 17px;
        }
    }
    > .requestSelect,
    > .listComponent,
    > .previewComponent,
    > .editorComponent {
        padding: 20px;
        border-radius: 12px;
        box-shadow: 0px 0px 7px 3px #f2f2f2;
        overflow-y: auto;
        &::-webkit-scrollbar {
            width: 7px;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background-color: #bbbbbb;
        }
    }
    > .listComponent {
        grid-area: list;
        overflow-y: auto;
        > div {
            > select {
                margin-bottom: 15px;
                width: 130px;
                padding: 5px;
                border: 1px solid #909090;
                border-radius: 8px;
                background-color: #ffffff;
            }
            > .list {
                display: grid;
                grid-template-columns: 80px 1fr;
                padding: 10px;
                border-top: 1px solid #dddddd;
                cursor: pointer;
                > .title {
                    &:hover {
                        text-decoration: underline;
                    }
                }
                .wait,
                .complete {
                    font-size: 13px;
                    border-radius: 5px;
                    border: 1px solid #cccccc;
                    padding: 0px 5px;
                }
                .wait {
                    background-color: #FEE35F;
                }
                .complete {
                    background-color: #bcfe41;
                }
            }
        }
    }
    > .previewComponent {
        grid-area: preview;
    }
    > .editorComponent {
        grid-area: editor;
        > .titleBox {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            > div {
                margin: 7px 0px;
                > .cancel,
                > .answer {
                    background-color: #ffffff;
                    border: none;
                }
                > .cancel {
                    color: #d90000;
                }
                > .answer {
                    color: #146ebe;
                }
                > .disabled {
                    cursor: not-allowed;
                    opacity: 0.3;
                }
            }
            > input {
                flex-grow: 1;
                margin-left: 10px;
                width: auto;
                margin-bottom: 10px;
                padding: 10px 16px;
                border: 1px solid #dddddd;
                border-radius: 8px;
                &:focus {
                    outline: none;
                }
            }
        }
        .answerTitle {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            > div {
                > button {
                    font-size: 16px;
                    background-color: #ffffff;
                    color: #3c7dd9;
                    border: none;
                    padding: 3px 5px;
                    border-radius: 10px;
                    &:hover {
                        background-color: #dddddd;
                    }
                }
            }
        }
        .ck-editor__editable_inline {
            min-height: 200px !important;
        }
    }
    .activate {
        font-weight: bold;
    }
    .answerRequired {
        display: flex;
        justify-content: center;
        align-items: center;
        > button {
            width: 150px;
            height: 50px;
            border: 2px solid #dddddd;
            border-radius: 10px;
        }
    }
}
.page {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    .pageBtn {
        margin: 0px 3px;
        background-color: transparent;
        border: none;
    }
    .if-page-selected {
        font-size: 15px;
        font-weight: bold;
        text-decoration: underline;
    }
}
