.editorPage {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "list editor";
    .article,
    .editor {
        margin: 10px;
        padding: 20px;
        height: calc(100vh - 105px);
        border-radius: 10px;
        box-shadow: 0px 0px 7px 3px #f2f2f2;
        &:hover {
            box-shadow: 0px 0px 7px 3px #dddddd;
        }
    }
    .article {
        grid-area: list;
    }
    .editor {
        grid-area: editor;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        &::-webkit-scrollbar{
            width: 8px;
        }
        &::-webkit-scrollbar-thumb{
            border: 2px solid #adadad;
            border-radius: 10px;
            background-color: none;
        }
        .request {
            border: 3px double lightgrey;
            border-radius: 20px;
            padding: 18px 20px;
            font-size: 17px;
        }
        .content {
            display: flex;
            flex-direction: row;
            > div {
                margin: 7px 0px;
            }
            > input {
                flex-grow: 1;
                margin-left: 10px;
                width: auto;
                margin-bottom: 10px;
                padding: 10px 16px;
                border: 1px solid #dddddd;
                border-radius: 8px;
                &:focus {
                    outline: none;
                }
            }
        }
        .explain {
            display: flex;
            flex-direction: column;
            .buttonBox {
                display: flex;
                flex-direction: row;
                margin-left: auto;
                > button {
                    width: 110px;
                    margin-top: 10px;
                    margin-left: auto;
                    margin-left: 7px;
                    padding: 7px 10px;
                    background-color: #ffffff;
                    border: 1px solid #c4c4c4;
                    border-radius: 9px;
                    &:hover {
                        background-color: #dddddd;
                    }
                    .x-icon,
                    .floppy-disk-icon {
                        margin-right: 10px;
                    }
                    .x-icon {
                        color: #f32735;
                    }
                    .floppy-disk-icon {
                        color: #0187e0;
                    }
                }
            }

        }
    }
    .center {
        justify-content: center;
        align-items: center;
    }
}
// 에디터 라이브러리 수정
:root {
    --ck-border-radius: 8px !important;
}
.document-editor__editable-container,
.ck-editor__editable {
    min-height: 400px;
}