@import '../../common.scss';

.Detail{
    width: 73%;
    padding-left: 55px;
    .reqButton{
        float: right;
        width: 168px;
        height: 38px;
        border: none;
        font-weight: bold;
    }
}