@import '../../common.scss';

.classify{
    margin: 45px 0px;
    font-size: 30px;
    font-weight: bolder;
}
.tips{
    margin:20px 0px;
    padding:10px 0px;
    border-top: 2px solid black;
    border-bottom: 1px solid grey;
    font-size: 15px;
    .tipsBox{
        margin: 10px;
        margin-left: 0px;
        padding: 15px;
        padding-left: 0px;
        cursor: pointer;
        .tipsID{
            width: 5%;
            color: black;
            vertical-align: top;
        }
        .tipsTitle{
            width: 83%;
        }
        .arrow{
            float:right;
            vertical-align: top;
        }
        .tipsFontBold{
            font-weight: bold;
            font-size: large;
        }
        .tipsFontNormal{
            font-weight: normal;
            font-size: 17px;
        }
    }
}
.BottomLine{
    border-bottom: 2px solid #f3f3f3;
}