@import '../../common.scss';

.platformBox{
    padding-top: 20px;
    border-top: 2px solid black;

    div{
        display: inline-block;
        margin-left: 14px;
        cursor: pointer;
        font-weight: bold;
    }
    a{
        color: #878787;
    }
}
.active{
    a{

        text-decoration-line: underline;
        color: black;
        font-weight: bold;
    }
}