@import '../../common.scss';

.sideMenu{
    width: 18%;
    vertical-align: top;
    border-right: 2px solid #f3f3f3;
}
.SideButton{
    margin-bottom: 14px;
    a{

    }
}
.active{
    text-decoration-line: underline;
    color: black;
}
.inactive{
    text-decoration: none;
    color: grey;
    font-size: 14px;
}