@import '../../common.scss';

.sideMenu{
    width: 17%;
    vertical-align: top;
}
.sideButton{
    margin-bottom: 17px;
}
.active{
    text-decoration-line: underline;
    color: black;
}
.inactive{
    text-decoration: none;
    color: grey;
}