h3{
    margin-top:60px;
    margin-bottom: 50px;
}
.mainButton{
    float: right;
    border: none;
    background-color: #5b5b5b;
    color: white;
    width: 102px;
    height: 36px;
    cursor: pointer;
}
.MainMenu{
    margin-right:20px;
    margin-bottom: 60px;
    img{
        width:145px;
        height:145px;
    }
    div{
        text-decoration-line: none;
        color: black;
    }
}
.MainAllMenu{
    margin-right: 40px;
    margin-bottom: 40px;
    width: 150px;
    vertical-align: top;
    div{
        margin: 13px;
        font-size: small;
    }
    a{
        text-decoration: none;
        color: gray;
    }
    .title{
        margin-bottom: 25px;
    }
}