h3{
    margin-top:60px;
    margin-bottom: 50px;
}
.mainButton{
    float: right;
    border: none;
    background-color: #5b5b5b;
    color: white;
    padding:10px 30px;
    cursor: pointer;
}
.MainMenu{
    margin-right:20px;
    margin-bottom: 60px;
    text-decoration-line: none;
    color: black;
    img{
        width:145px;
        height:145px;
    }
}