.noticeBox{
    border-top: 2px solid #f3f3f3;
    border-bottom: 2px solid #f3f3f3;
    .common-width{
        margin-top: 12px;
        margin-bottom: 12px;
    }
    b{
        margin-right: 10px;
    }
}