.numberBox{
    position:absolute;
    overflow-y: scroll;
    height: 120px;
    border: 2px solid black;
    background-color: white;
    .countryNumbers{
        padding: 7px 15px;
        font-size: small;
        display: block;
        cursor: pointer;
    }
    .countryNumbers:hover{
        background-color:whitesmoke ;
    }
    .countryNumbers:active{
        background-color: grey;
    }
    .number{
        width: 70px;
    }
}
