.nummmber {
    position: absolute;
    > .searchBox {
        width: 500px;
        background-color: white;
        border: 1px solid black;
        > .searchImg {
            display: inline-block;
            background: url("../../../public/ico.png") no-repeat 0 -64px;
            width: 19px;
            height: 20px;
            margin: 10px;
        }
        > .searchInput {
            width: 440px;
            vertical-align: top;
            border: none;
        }
    }
}
.numberBox {
    overflow-y: scroll;
    width: 500px;
    height: 200px;
    border: 1px solid black;
    background-color: white;
    .countryNumbers {
        padding: 7px 15px;
        font-size: small;
        display: block;
        cursor: pointer;
    }
    .countryNumbers:hover {
        background-color: whitesmoke;
    }
    .countryNumbers:active {
        background-color: grey;
    }
    .number {
        width: 70px;
    }
}
