.RequestBox{
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: smaller;
    color: #666666;
    .reqButton{
        float: right;
        background-color: #e8e8e8;
        padding: 10px 55px;
        border: none;
        font-weight: bold;
    }
}